<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Warning</title>
  <link rel="icon" href="images/logo.png">
  <style type="text/css">
    html{height:100%}
    body{height:100%;margin:0;padding:0}
    #map_canvas{height:100%;margin-left: 240px}
    .sweet-overlay {
      background-color: rgba(100, 0, 0, 0.4) !important;
    }

    header, main, footer {
      padding-left: 240px;
    }

  </style>
  <!-- Compiled and minified CSS -->

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link rel="stylesheet" href="stylesheets/sweetalert.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
           
  <!--載入 API-->
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDpkxtysHhnKngvwaIJLDQF1kKVHRs6nXs"></script>
  <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js"></script>
  <script src="javascripts/sweetalert.min.js"></script>
   
  <script type="text/javascript">

    if (!navigator.geolocation){
      console.log("Geolocation is not supported by your browser");
    }
    else {
      navigator.geolocation.getCurrentPosition(initialize, error);
    }

    function error() {
      console.log("Unable to retrieve your location");
    };

    var markers = [];

    function initialize(position) {
      //var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
      var latlng = new google.maps.LatLng(25.0513015, 121.5108233);
      console.log(latlng.lat());
      console.log(latlng.lng());
      var mapOptions = {
        center: latlng,
        zoom: 18,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

      new google.maps.Marker({
        position: latlng,
        map: map,
        draggable: false,
      });

      $.ajax({
        url: "http://172.17.183.92:9999/api/opendata",
        dataType: "JSON",
        method: "GET",
        data: {
          lat: 25.0513015,
          lng: 121.5108233,
          latDelta: 0.01,
          lngDelta: 0.01,
        },
        success: function(data) {
          console.log(data);
          var x;
          for(x in data.data) {
            var openlatlng = new google.maps.LatLng(data.data[x].lat, data.data[x].lng);
            //console.log(openlatlng.lat());
            //console.log(openlatlng.lng());
            markers.push(
              new google.maps.Marker({
                position: openlatlng,
                map: map,
                draggable: false,
              })
            );
          }
          var mcOptions = {gridSize: 50, maxZoom: 20,};
          console.log(markers);
          var mc = new MarkerClusterer (map, markers, mcOptions);

          setTimeout(function() {
            var count = 0;
            var timer = setInterval(function() {
              swal({
                title: '警告!',
                text: '市民大道高架橋為易出事路段',
                type: 'warning',
                timer: 500,
                showConfirmButton: false,
              });
              count++;
              if (count === 5) {
                clearInterval(timer);
              }
            }, 800);
          }, 1000);
        },

      });

      /*
      var currentMark;
      google.maps.event.addListener(
        map,
        'click',
        function(e) {

          if(currentMark)
            currentMark.setMap(null);

          var marker = new google.maps.Marker({
            position: e.latLng,
            map: map,
            draggable: false,
          });

          markers.push(marker);
          infowindow.open(map, marker);
          currentMark = marker;
        }
      );


      var contentString = '<div><i class="large material-icons red-text">assessment</i>&nbsp<i class="large material-icons blue-text">settings_input_component</i>&nbsp<i class="large material-icons yellow-text">settings_input_antenna</i></div>';

      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });

      google.maps.event.addListener(infowindow, 'closeclick', function() {
        currentMark.setMap(null);
      });
*/
      
    }

  </script>
</head>
<body> 
  <style>
    span.badge.new {
      line-height: 20px;
      margin-top: 22px;
    }
  </style>
  <header>
    <ul id="slide-out" class="side-nav fixed">
      <div class="section"></div>
      <div class="center-align"><img src="images/logo.png"></div>
      <div class="section"></div>
      <div class="divider green"></div>
      <div class="divider green"></div>
      <div class="section"></div>
      <li><a href="report"><i class="material-icons teal-text" style="vertical-align: middle">surround_sound</i><b>&nbsp&nbsp&nbsp回&nbsp報&nbsp與&nbsp即&nbsp時&nbsp狀&nbsp況</b></a></li>
      <li><a href="percent"><i class="material-icons teal-text" style="vertical-align: middle">insert_chart</i><b>&nbsp&nbsp&nbsp昨&nbsp日&nbsp統&nbsp計</b><span class="new badge">4</span></a></li>
      <li class="active"><a href="warning"><i class="material-icons teal-text" style="vertical-align: middle">folder</i><b>&nbsp&nbsp&nbsp累&nbsp積&nbsp數&nbsp據</b></a></li>
      <li><a href="rank"><i class="material-icons teal-text" style="vertical-align: middle">stars</i><b>&nbsp&nbsp&nbsp全&nbsp台&nbsp爛&nbsp路&nbsp排&nbsp名</b></a></li>
    </ul>
  </header>


  <div id="map_canvas" style="width:100%; height:100%"></div>
</body>
<script>
  $.ajax({
    url: "http://172.17.183.92:9999/api/report/percent",
    dataType: "JSON",
    method: "GET",
    success: function(data) {
      $('span.badge.new').html(data.total+"&nbsp&nbsp");
    }
  });
</script>
</html>

